header {
    position: relative;
    padding: 25px;
    height: 170px;
    background: #D2EDE6;
  }
  
  .login {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  header .logo {
    float: left;
  }
  
  header form {
    float: right;
    margin: 10px;
  }
  
  header form a {
    text-decoration: none;
    margin: 5px;
    font-family: sans-serif,Helvetica,Arial;
  }
  
  .login .form-group{
  float: left;
  }
  
  .login-buttons {
    padding-left: 10px;
  }
  
  .login-buttons button {
    margin: 5px 10px 0px 0px;
  }
  
  .login-btn {
    background: rgb(212, 45, 33);
    color: white;
  }
  header .user-info {
    float: right;
    margin: 20px 20px 0px 0px;
  }
  
  .logo {
      width: 100px;
      height: auto;
      border-radius: 50%;
  }

 
  