header {
    position: relative;
     padding: 25px;
     width: 100%;
    height: 500px;
    margin: 0px;
    /* background: #D2EDE6; */
    background-image: url("../images/basketball-player.jpg");
 
  }
header .description{
  width: 85%;
  position: relative;
  top: 45%;
  text-align: center;
}
header .description h4{
font-size: 30px;
color: #ffffff;
font-family: 'Serif';
font-weight: bold;
/* font-style: oblique; */
}
  .login {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .login .login-info {
    color: rgb(249, 249, 250);
    font-size: 18px;
  }
  header .logo {
    float: left;
    margin-left: 3%;
  }
  
  header form {
    float: right;
    margin: 10px;
  }
  
  header form a {
    text-decoration: none;
    position: relative;
    top: 20px;
    right: 90px;
    float: right;
    font-family: sans-serif,Helvetica,Arial;
    font-size: 17px;
    color: rgb(1, 26, 255);
    font-weight: 900px;
  }
  
  .login .form-group{
  float: left;
  }
  
  .login-buttons {
    padding-left: 10px;
  }
  
  .login-buttons button {
    margin: 5px 10px 0px 0px;
  }
  
  .login-btn {
    background: rgb(212, 45, 33);
    font-size: 16px;
    color: white;
  }
  header .user-info {
    float: right;
    margin: 20px 20px 0px 0px;
  }
  
  .logo {
      width: 110px;
      height: auto;
      border-radius: 50%;
  }

  .forgot-password  {
   position: relative;
   left: 7px;
   top: -8px;
   color: #377696;
 }
  
 .forgot-password a:hover {
  text-decoration: none; }